<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/server/insert" method="post">

        <label for="deviceid">Device Id:</label>
        <input type="text" name="deviceid" id="deviceid" required>
        
        <label for="warmuptimestamp">Warmup Timestamp:</label>
        <input type="text" name="warmuptimestamp" id="warmuptimestamp" required>
      
        <!-- Include input fields for other columns in Device table -->
      
        <label for="alreadyusedflag">Alreda used Flag:</label>
        <input type="text" name="alreadyusedflag" id="alreadyusedflag" required>

        <label for="graceperiod">Grace Persiod Time:</label>
        <input type="text" name="graceperiod" id="graceperiod" required>
       
        <label for="warmuptime">Warmup Time:</label>
        <input type="text" name="warmuptime" id="warmuptime" required>
     
        <button type="submit">Submit</button>
      </form>
      
</body>
</html>